# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

*.DS_Store

*.tar.gz
*.eps
*.mat
*.npy

# All data files in ros_data except one example file
results/
data/*
!data/2020-03-23-17-15-36.csv
scripts/compare.py
.vscode/

